h1, header {
  margin-top: 0;
}
body{
    background: linear-gradient(to bottom,#0842af 585px,rgb(200, 81, 81) 0px);
    margin: 0px;
    padding: 0px;
}
.Web{
    padding: 30px;
    background-color: #001E55;
    color:white;   
}
.te-ma{
    color: rgb(247, 197, 15);
    text-shadow: white 1px 0 3px;
}
div#ue p {
    color: white;
}
div#ue a:link {
    color: #ffff66;
}
div#ue a:visited {
    color: #ffcc66;
}

div#ue a:hover {
    color: white;
}
.kaku{
    color: rgb(247, 197, 15);
    text-shadow: white 1px 0 3px;
}
h2{
    color: orange;
}

div#zentai {
    h3{
    color: white;
}
	display: grid;  
}

div#zentai > div {
	padding: 10px;
	background-color: pink;
}
p{
    color: black;
}

.matome{
    background-color: #026e09;
    color:rgb(247, 197, 15);
    text-shadow: white 1px 0 3px;
}
div#point {
    color: rgb(85, 73, 222);
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 10px;
    max-width: 1024px;
    margin: 0 auto;
}

div#point > div {
    padding: 15px;
    background-color: #ffffff;
    border: 4px dotted #0ceec5;
    box-sizing: border-box;
}
