h1, header {
  margin-top: 0;
}
body{
    background: linear-gradient(to bottom,#0842af 410px,rgb(200, 81, 81) 100px);
    margin: 0px;
    padding: 0px;
}
.Web{
    padding: 30px;
    background-color: #001E55;
    color:white;   
}
.te-ma{
    color: rgb(247, 197, 15);
    text-shadow: white 1px 0 3px;
}
.kaku{
    color: rgb(247, 197, 15);
    text-shadow: white 1px 0 3px;
}
h2{
    color: white;
}
h3{
    color: white;
}

div#zentai {
	display: grid;  
}

div#zentai > div {
	padding: 10px;
	background-color: pink;
}
p{
    color: black;
}